.heading{
  animation: color-change 3s linear infinite;
}
@keyframes color-change {
  0% {
    color: #23c87e; /* start color */
  }
  30% {
    color: #3c83ed; /* middle color */
  }
  50% {
    color: #ea2727; /* middle color */
  }
  70% {
    color: #298443; /* end color */
  }
  100% {
    color: #44155f; /* end color */
  }
}
.bor{
  border-bottom:3px solid red;
}
.bg1{
  background-image: url('../public/1000_F_252124067_aCtp9ZD934RboKmjJzkXiwYDL7XkNjpn.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.bg2{
  background-image: url('../public/pexels-photo-235985.jpeg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.bg2{
  background-image: url('../public/indian-condiments-with-copy-space-view_23-2148723492.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.bg3{
  background-image: url('../public/pexels-photo-1415734.webp');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  
}