.heading{
  animation: color-change 3s linear infinite;
}
@keyframes color-change {
  0% {
    color: #23c87e; /* start color */
  }
  30% {
    color: #3c83ed; /* middle color */
  }
  50% {
    color: #ea2727; /* middle color */
  }
  70% {
    color: #298443; /* end color */
  }
  100% {
    color: #44155f; /* end color */
  }
}
